.banner {
  padding-top: 0;

  .banner-main-pane {
    height: auto;
    max-height: 450px;
  }

  .banner-side-pane {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    .banner-main-pane,
    .banner-side-pane {
      height: 354px;
    }
  }
}
