.top-nav {
  .navbar {
    font-family: "industry", sans-serif;
    font-size: 20px;
    font-weight: 400;

    .nav-link:not(.login):not(.join) {
      color: $body-color;
      &:hover {
        color: black;
        font-weight: 700;
      }
    }
    .active {
      color: $orange !important;
      font-weight: 700;
    }
    .login,
    .join {
      transition: all 0.3s;
      margin: 0 0.5em;
    }
    .login {
      border: 3px solid transparent;
      color: $body-color;
      &:hover {
        color: white !important;
        background-color: $orange;
      }
    }
    .join {
      border: 3px solid $orange;
      &:hover {
        background-color: $orange;
        border: 3px solid white;
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    margin-right: 2em;
  }
}
